// footer

.footer {
  // position: absolute;
  padding: 40px 0;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity $hover-duration $timing;

  @include mh(600) {
    bottom: 20px;
  }

  @include d(991) {
    position: static;
    padding: 40px 0;
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  &_inner {
    padding: 40px 0;
    bottom: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity $hover-duration $timing;

    @include mh(600) {
      bottom: 20px;
    }

    @include d(991) {
      position: static;
      padding: 40px 0;
    }

    &.visible {
      opacity: 1;
      pointer-events: auto;
    }
  }
}