// project colors
$white: #ffffff;
$black: #26201a;
$primary: #1ed760;
$gray: #c0c0c7;
$green: #63b866;
$blue: #59a5fe;
$orange: #eda13d;
$violet: #7963b8;
$yellow: #edd13d;
$red: #b86363;

// timing
$hover-duration: 0.5s;
$duration: 1s;
$timing: cubic-bezier(0.17, 0.67, 0.55, 1.05);
