// project colors
$white: #ffffff;
$black: #26201A;
$primary: #1ED760;
$gray: #C0C0C7;
$green: #63B866;
$blue:#59A5FE;
$orange:#EDA13D;
$violet: #7963B8;
$yellow: #EDD13D;
$red: #B86363;

// timing
$hover-duration: .5s;
$duration: 1s;
$timing: cubic-bezier(.17,.67,.55,1.05);