/* Style the tab */
.tab {
  // overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  color: $white;
  margin-right: 199px;

  @include d(1199) {
    margin-right: 149px;
  }

  @include d(1124) {
    margin-right: 100px;
  }

  @include d(1024) {
    margin-right: 50px;
    margin-top: 40px;
  }

  @include d(992) {
    margin: 0;
    align-items: flex-start;

    flex-direction: row;
    justify-content: center;
  }

  @include d(575) {
    flex-wrap: wrap;
    gap: 20px;
  }

  &__title {
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;

    h6 {
      margin-bottom: 16px;
    }

  }
}

.section__tabs {
  display: flex;
  align-items: stretch;
  margin-top: -56px;

  @include d(992) {
    flex-direction: column;
    margin-top: 40px;
  }
}

.tab__box {
  text-align: center;
  position: relative;

  @include d(992) {
    margin-bottom: 24px;
  }

  @include d(575) {
    margin: 0;
  }

  &:last-child {

    .path {
      top: 40%;
    }

  }

  p {
    margin-bottom: 8px;
    font-size: 12px;
    font-family: 'PoppinsBold';

  }

  &:not(:last-child) {
    margin-bottom: 48px;

    @include d(992) {
      margin-bottom: 20px;
      margin-right: 24px;

      @include d(575) {
        margin: 0;
      }
    }
  }

  &:first-child {

    .tab__links {
      background-color: rgba($green, .2);
      justify-content: center;

      // &::before {
      //   background-image: url(../img/btn-1.svg);
      //   height: 130px;
      // }

      img {
        width: auto;
      }
    }

  }

  &:nth-child(2) {
    .tab__links {
      background-color: rgba($blue, .2);

      // &::before {
      //   background-image: url(../img/btn-2.svg);
      //   height: 120px;
      // }
    }

  }

  &:nth-child(3) {
    .tab__links {
      background-color: rgba($orange, .2);

      // &::before {
      //   background-image: url(../img/btn-3.svg);
      //   height: 60px;
      // }
    }

  }

  &:nth-child(4) {
    .tab__links {
      background-color: rgba($violet, .2);

      // &::before {
      //   background-image: url(../img/btn-4.svg);
      //   height: 30px;
      // }
    }

  }
}

/* Style the buttons inside the tab */
.tab__links {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 10px;
  line-height: 15px;
  color: inherit;
  border-radius: 8px;
  font-family: 'PoppinsBold';
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
  width: 144px;
  height: 64px;
  text-align: left;
  position: relative;

  @include d(1024) {
    width: 115px;
    height: auto;
  }

  @include d(992) {
    height: 60px;
  }

  img {
    // margin-right: 20px;
    width: 22px;
    pointer-events: none;
  }

  // &::before {
  //   content: "";
  //   width: 200px;
  //   height: auto;
  //   position: absolute;
  //   top: 50%;
  //   left: 100%;
  //   transform: translate(0, 0);
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: contain;
  //   opacity: 0.1;
  //   transition: opacity $hover-duration $timing;
  //   @include d(1199) {
  //     width: 150px;
  //   }
  //   @include d(1124) {
  //     width: 100px;
  //   }
  // }

}


.tab__links.active~.path {
  opacity: 1;
}

/* Style the tab content */
.tab__content {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 90px;
  overflow: hidden;
  padding-top: 30px;
  transform: translateY(0);
  transition: transform $hover-duration $timing;

  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  pointer-events: none;

  @include d(992) {
    position: relative;
  }

  h6 {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translate(0, 34px);
    transition: $hover-duration $timing;
  }

  &:first-child {
    top: 5%;
  }

  &:nth-child(2) {
    // top: 0;
    top: 33%;

    @include d(1124) {
      top: 29%;
    }
  }

  &:nth-child(3) {
    // top: 0;
    top: 56%;

    @include d(1124) {
      top: 52%;
    }
  }

  &:nth-child(4) {
    bottom: 0;

    @include d(1124) {
      bottom: 25px;
    }
  }

  &.active {
    height: auto;
    z-index: 1;
    mask-image: none;
    pointer-events: auto;

    // margin-bottom: 24px;
    &:nth-child(1) {
      transform: translateY(-15%);
    }

    &:nth-child(2) {
      transform: translateY(-15%);
    }

    &:nth-child(3) {
      transform: translateY(-20%);
    }

    &:nth-child(4) {
      transform: translateY(0);
    }

    .tab__table {
      opacity: 1;
    }

    h6 {
      transform: translate(0, 0);
    }
  }
}

.tab__wrapper {
  position: relative;
  width: 100%;
  margin-top: 70px;

  @include d(1124) {
    margin-top: 20px;
  }
}

.tab__table {
  opacity: .5;
  overflow-x: auto;
  padding-bottom: 5px;

  /* width */
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: transparent;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 3px;
    transition: background $hover-duration $timing;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

  table {
    position: relative;
    z-index: 1;
    background-color: #4d5384;
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;

    @include d(992) {
      width: 1000px;
    }

    tr {
      th {
        text-transform: uppercase;
        font-size: 10px;
        color: $gray;
        border: none;
        background: rgba(255, 255, 255, 0.08);

        &:last-child {
          padding-right: 24px;
        }
      }

      td {
        padding: 16px 0;
        font-size: 14px;
        line-height: 21px;

        @include d(1199) {
          padding: 10px 0;
        }

        &:first-child {
          font-family: 'PoppinsBold', sans-serif;
          padding-left: 24px;
        }

        &:last-child {
          padding-right: 24px;
        }
      }

      &:nth-child(2) {
        td {
          border-bottom: 1px solid rgba($white, 0.08);
        }
      }
    }
  }
}

.path {
  max-width: 200px;
  position: absolute;
  left: 100%;
  width: 200px;
  top: 50%;
  opacity: .2;
  transition: opacity $hover-duration $timing;

  @include d(1199) {
    max-width: 150px;
    width: 150px;
  }

  @include d(1124) {
    max-width: 100px;
    width: 100px;
  }

  @include d(1024) {
    max-width: 50px;
    width: 50px;
  }

  @include d(992) {
    display: none;
  }
}