// libs using in project, uncomment what you need
// @import "../../node_modules/bootstrap-4-grid/css/grid.min.css";
// @import "../../node_modules/odometer/themes/odometer-theme-default.css"
@import "../../node_modules/swiper/swiper-bundle.min.css";
// @import "../../node_modules/jquery-nice-select/css/nice-select.css";

@import "../../node_modules/swiper/swiper-bundle.min.css";

@import "base/index";
@import "components/index";
@import "sections/index";

@import "pages/index";
